<div class="experience d-flex justify-content-center py-5 ">
    <div class="experience2 w-75 ">
        <span class="span-title">experience</span>
        <h2>work experience</h2>
        <div class="experience-content  ">
            <ul>

                <li >
                    <div class="icon icon1">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="content">
                        <h3><a href="#">full stack developer</a><span>2017-2018</span></h3>
                        <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare
                            how
                            cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added
                            forth
                            chief trees but rooms think may.</p>
                    </div>
                </li>
                <li>
                    <div class="icon icon2">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="content">
                        <h3><a href="#">full stack developer</a><span>2017-2018</span></h3>
                        <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare
                            how
                            cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added
                            forth
                            chief trees but rooms think may.</p>
                    </div>
                </li>
                <li>
                    <div class="icon icon3">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="content">
                        <h3><a href="#">full stack developer</a><span>2017-2018</span></h3>
                        <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare
                            how
                            cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added
                            forth
                            chief trees but rooms think may.</p>
                    </div>
                </li>
                <li>
                    <div class="icon icon4 ">
                    </div>
                </li>
            </ul>


        </div>
    </div>
</div>