<div class="work d-flex justify-content-center  py-5  ">
    <div class="work2 ">
        <span class="span-title ms-2">my work</span>
        <h2 class="ms-2">recent work</h2>
        <nav>
            <ul >
                <li><a routerLinkActive="active" routerLink="graphic">graphic design</a></li>
                <li><a routerLinkActive="active" routerLink="apps">apps</a></li>
                <li><a routerLinkActive="active" routerLink="software">software</a></li>

            </ul>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>