<div class="skills">
    <div class="skills2">
        <span class="span-title">MY SPECIALTY</span>
        <h2>MY SKILLS</h2>
        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and
            devious
            Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the
            belt
            and
            made herself on the way.</p>
        <div class="row">
            <div class="col-md-5">
                <div class=" progress1 progress-content">
                    <h6>Photoshop</h6>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 75%"></div>
                    </div>
                </div>
                <div class="progress2 progress-content">
                    <h6>HTML5</h6>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar " style="width: 85%"></div>
                    </div>
                </div>
                <div class="progress3 progress-content">
                    <h6>WordPress</h6>

                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 25%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class=" progress4 progress-content">
                    <h6>Photoshop</h6>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 75%"></div>
                    </div>
                </div>
                <div class="progress5 progress-content">
                    <h6>HTML5</h6>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar " style="width: 85%"></div>
                    </div>
                </div>
                <div class="progress6 progress-content">
                    <h6>WordPress</h6>

                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 25%"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>