<div class="container  ">
    <div class="row g-3">
        <div class="col-md-5 ">
            <img src="../../assets/img-1-C4nS0eD8.jpg" class="w-100 h-100">
            <div class="layer ">
                <h3><a href="#">work2</a></h3>
                <span>Animation</span>
                <div class="icon">
                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="#"><i class="fa-regular fa-eye"></i> 100</a>
                    <a href="#"><i class="fa-regular fa-heart"></i> 49</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 ">
            <img src="../../assets/img-2-D-4H1m4L.jpg" class="w-100 h-100">
            <div class="layer ">
                <h3><a href="#">work2</a></h3>
                <span>Animation</span>
                <div class="icon">
                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="#"><i class="fa-regular fa-eye"></i> 100</a>
                    <a href="#"><i class="fa-regular fa-heart"></i> 49</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-md-5">
            <img src="../../assets/img-3-pR2ZEVY9.jpg" class="w-100 h-100">
            <div class="layer ">
                <h3><a href="#">work2</a></h3>
                <span>Animation</span>
                <div class="icon">
                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="#"><i class="fa-regular fa-eye"></i> 100</a>
                    <a href="#"><i class="fa-regular fa-heart"></i> 49</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/img-4-tHccITd-.jpg" class="w-100 h-100">
            <div class="layer ">
                <h3><a href="#">work2</a></h3>
                <span>Animation</span>
                <div class="icon">
                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="#"><i class="fa-regular fa-eye"></i> 100</a>
                    <a href="#"><i class="fa-regular fa-heart"></i> 49</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isDivVisible">

        <div class="col-md-5">
            <img src="../../assets/img-5-lAucr__a.jpg" class="w-100 h-100">
            <div class="layer ">
                <h3><a href="#">work2</a></h3>
                <span>Animation</span>
                <div class="icon">
                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="#"><i class="fa-regular fa-eye"></i> 100</a>
                    <a href="#"><i class="fa-regular fa-heart"></i> 49</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../../assets/img-6-DFW03AZ3.jpg" class="w-100 h-100">
            <div class="layer ">
                <h3><a href="#">work2</a></h3>
                <span>Animation</span>
                <div class="icon">
                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                    <a href="#"><i class="fa-regular fa-eye"></i> 100</a>
                    <a href="#"><i class="fa-regular fa-heart"></i> 49</a>
                </div>
            </div>
        </div>
    </div>

    <button *ngIf="!isDivVisible" (click)="toggleDiv()" class=" btn btn-primary p-2 mt-2">show more</button>
</div>

  
  